@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--fonte01: 'Roboto', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	font-family: var(--fonte01);
}

header {
	text-align: center;
	background-color: black;
	color: white;
}

header > h1 {
	padding-top: 50px;
	font-size: 3em;
	color: rgb(255, 255, 255);
}

header > p {
	padding-bottom: 25px;
}

nav {
	padding: 20px;
	font-weight: bold;
	background-color: black;
	text-align: center;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
	padding: 10px 15px;
	color: rgb(123, 123, 123);
	text-decoration: none;
	border-radius: 8px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

main {
	color: white;
	background-color: white;
	padding: 10px;
	margin: auto;
	text-align: center;
	background-image: url('../img/pattern01.png');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
}

p {
	font-size: 1.1rem;
	line-height: 1.6;
}

h2 {
	font-size: 2rem;
	margin-bottom: 15px;
}

a {
	color: rgb(123, 123, 123);
	text-decoration: none;
	font-weight: bolder;
	font-size: 1rem;
	transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
}

a:hover {
	text-decoration: none;
	background-color: rgb(74, 74, 74);
	color: rgb(255, 255, 255);
	transition-duration: 150ms;
	border-radius: 6px;
}

footer {
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #444;
}

html {
	scroll-behavior: smooth;
}

#sobre {
	max-width: 1000px;
	margin: auto;
}

.logo {
	width: 300px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.img-container {
	position: relative;
	width: 400px; /* Adjust based on your image size */
	height: 150px; /* Adjust based on your image size */
}

.img-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease; /* Smooth transition for fading */
}

#img-tick-overlap,
#img-kadu-overlap,
#img-japa-overlap {
	opacity: 0; /* Hide the second image initially */
}

#img-container-1:hover #img-tick {
	opacity: 0; /* Hide the first image on hover */
}
#img-container-2:hover #img-kadu {
	opacity: 0; /* Hide the first image on hover */
}
#img-container-3:hover #img-japa {
	opacity: 0; /* Hide the first image on hover */
}

#img-container-1:hover #img-tick-overlap {
	opacity: 1; /* Show the second image on hover */
}
#img-container-2:hover #img-kadu-overlap {
	opacity: 1; /* Show the second image on hover */
}
#img-container-3:hover #img-japa-overlap {
	opacity: 1; /* Show the second image on hover */
}
